@charset "utf-8";
.h {
    width: 50%;






















































































































500px;
    position: relative;
    down: 500px;


















































































































down;
    left: 50%;
    top: 360px;
    transform: translate(-50%,-50%);

}
.center {
    position: relative;
    left: 50%;
    top: -13px;
    width: 150PX;
    transform: translate(-50%,-50%);

}
.search {
}
