@charset "utf-8";
.h {
    width: 50%;






















































































































500px;
    position: relative;
    down: 500px;


















































































































down;
    left: 50%;
    top: 360px;
    transform: translate(-50%,-50%);

}
.center {
    position: relative;
    left: 50%;
    top: -13px;
    width: 150PX;
    transform: translate(-50%,-50%);

}
.p {
    color: #6A0CC5;
}
.header {
    background-color: #642ED8;
    height: 51px;
    width: auto;
    border-radius: 9px;
    margin-bottom: 20px;
}
.headertt {
    width: auto;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 14px;
    opacity: 1;
    text-decoration: none;
}
.hhhh {
    position: relative;
    top: -76px;
    left: 50%;

}
